<html>

<head>
    <title>Circuit Breaker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>All Circuits</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                {% for a in all_circuits %}
                <tr>
                    <td> {{a}} </td>
                    <td> {% if a in closed_circuits %} <p style="color:green;">Closed </p> {% else %} <p
                            style="color: red;">Open</p> {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


</html>